.home {
    padding: 20px;
}

.books {
    box-sizing: border-box;
    height: auto;
    width: 80vw;
    background-color: #fff0dd;
    grid-area: disp1;
    overflow-x: auto;
}

.book {
    width: 300px;
}