#app {
  display: grid;
  grid-template-areas: 'header1 header1 head' 'nav1 disp1 disp1';
}

@media only screen and (max-width: 600px) {
  #app {
    display: grid;
    grid-template-areas: 'header1' 'disp1' 'nav1';
  }
}